* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 5px;
  min-height: 100vh;
  background: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
 background: #D98C9C;
  width: 90%;
  max-width: 360px;
  padding: 30px 20px;
  border-radius: 20px;
  text-align: center;
  color: #5a1f2d;
  box-shadow: 0 14px 35px rgba(0,0,0,0.25);
}

.star {
  font-size: 22px;
  margin-bottom: 15px;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px auto 8px;
  display: block;
  
}
.user {
  font-size: 14px;
  opacity: 0.8;
}

h1 {
  margin-bottom: 15px;
  font-size: 22px;
}

.btn {
  display: block;
  background: #fff;
  color: #5a1f2d; 
  text-decoration: none;
  padding: 14px;
  border-radius: 999px;
  margin-bottom: 15px;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: transform 0.2s, background 0.2s;
}

.btn:hover {
  background: #f1ede5;
  transform: scale(1.03);
}

footer { 
 position: fixed; 
 bottom: 5px;
width: 100%;
text-align: center;
font-size: 12px;
color: rgba(255, 255, 255, 0.3); 

 }
.email {
  display: block;
  font-size: 15px;
  color: #5a1f2d;
  opacity: 0.75;
  margin-bottom: 25px;
  text-decoration: none;
  word-break: break-all;
}

.email:hover {
  text-decoration: underline;
}

 